<div class="fullpage-wrapper">
    <div mnFullpage [mnFullpage]="options" [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true">

        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <h1 class="wordwrap">Srijan Mukherjee</h1>
                <br>
                <p class="wordwrap">Tech evangelist and Full stack developer</p>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> About</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> 
                <carousel [slides]="{{certSlides}}"
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Work</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Contact</div>
        </div>
        <!--<div class="section fp-section fp-table">
            <div class="fp-tableCell"> Some section 5</div>
        </div>-->
    </div>
    <a><i class="fa fa-chevron-down arrow bounce" 
         [@aidsVisibleState] = "aidsVisible"
         (click) = "nextPage()">
    </i>
    </a>
</div>