<div class="fullpage-wrapper">
    <div mnFullpage [mnFullpage]="options" [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true">

        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <h1 class="wordwrap">Srijan Mukherjee</h1>
                <br>
                <p class="wordwrap">Tech evangelist and Full stack developer</p>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> About</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <div class="carousel-cn">
                    <carousel class="slideshow">
                        <slide *ngFor="let slide of certSlides">
                            <a href="{{slide.href}}" target="_blank">
                                <img [src]="slide.imageUrl" alt="" />
                                <div class="carousel-caption">
                                    <h2>{{slide.title}}</h2>
                                    <p>{{slide.description}}</p>
                                </div>
                            </a>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Work</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Contact</div>
        </div>
        <!--<div class="section fp-section fp-table">
            <div class="fp-tableCell"> Some section 5</div>
        </div>-->
    </div>
    <a><i class="fa fa-chevron-down arrow bounce" 
         [@aidsVisibleState] = "aidsVisible"
         (click) = "nextPage()">
    </i>
    </a>
</div>