<div class="fullpage-wrapper">
    <div mnFullpage [mnFullpage]="options" 
                    [mnFullpageNavigation]="true" 
                    [mnFullpageKeyboardScrolling]="true" 
                    [mnFullpageSlidesNavigation]="true">

        <div class="section fp-section fp-table">
            <div class="fp-tableCell">
                <h1>Srijan Mukherjee</h1>
                <p>Tech evangelist and Full stack developer</p>
            </div>
        </div>
         <div class="section fp-section fp-table">
            <div class="fp-tableCell"> About</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Cert</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Work</div>
        </div>
        <div class="section fp-section fp-table">
            <div class="fp-tableCell"> Contact</div>
        </div>
        <!--<div class="section fp-section fp-table">
            <div class="fp-tableCell"> Some section 5</div>
        </div>-->
    </div>
</div>